body{
    margin: 0;
    padding: 0;
    
}
main{
    
    height: 100vh;
    background-color: #C1CBE6;
    display: flex;
    justify-content: center;
    align-items: center;
}
board{
    width: 90%;
    height: 90%;
    background-color:aliceblue;
    border-radius: 25px;
    display: flex;
    
}
.search{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
}
.content{
    width: 75%;
    background-color: #F5F9FC;
}
.profile-bar{
    width: 20%;
    background-color: rgb(64, 219, 193);
    border-radius: 0px 25px 25px 0px;
}
.navigation-bar{
    background-color: #5A7DFD;
    width: 5%;
    height: 100%;
    border-radius: 25px 0px 0px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
   
   
}
.icons{
    
    display: flex;
    flex-direction: column;
    margin-top: 50%;
    gap: 50px 0px;
   
    

}
.icons > div{
    display: flex;
    justify-content: center;
    
    
    
}
.image-nav{
    
    width: 50%;
    height: auto;
    opacity: .3;
    
    
}
.image{
    
    width: 15%;
    height: auto;
    
    
}
button{
    background-color: #5A7DFD;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  padding: 10px 30px;
}
input{
    border: none;
    border-radius: 7px;
    padding: 15px;
    font-size: 16px;
    width: 70%;
}
.logout{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.cloud{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: auto;
    background-color: #FFFFFF;
    padding: 1% 1%;
       
    border-radius: 10px;
    flex-wrap: wrap;
}
.card-icon{
    
    display: flex;
    justify-content: space-between;
    

}
.heading{
   align-self: flex-start;
    padding: 1%;
}
.quick{
    margin: 3% 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
a{
    text-decoration: none;
    color:#A0B0FD;
    font-size: 20px;
    font-weight: bold;
}
.summary{
    display: flex;
    justify-content: space-evenly;
}
.card1{
    display: flex;
    justify-content: space-evenly;
    width: 17%;
    height: auto;
    background-color: #FFFFFF;
    padding-top: 3%;
    gap: 0px 100px;    
    border-radius: 10px;
    flex-wrap: wrap;
}
.heading1{
    align-self:center;
    
}